{
  "rules": {
    "arrow-parens": "off",
    "consistent-return": "off",
    "comma-dangle": "off",
    "no-shadow": "off",
    "semi": 0,
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "no-param-reassign": 1
  }
}
